html, body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

#accueil {
  height: 100%;
  width: 100%;
}

#accueil form {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#accueil form input {
  margin: 10px;
}

button, input[type=submit] {
  margin: 5px;
  /* max-width: 700px; */
  padding: 10px 20px 10px 20px;
}

#game {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#showPlayers {
  border: 1px solid #333;
  background-color: rgba(209, 202, 235, 0.815);
  margin: 0px;
  height: 50px;
  cursor: pointer;
}

#players {
  flex: 1;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

#players #header {
  font-size: large;
  margin-bottom: 40px;
}

#players #curPlayer {
  font-weight: bold;
}

#gameZone {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

#gameZone div, #gameZone div form, #gameZone div form label,  #gameZone div div {
  display: flex;
  flex-direction: column;
}

#gameZone input[type=text] {
  margin: 10px;
}

#options {
  width: 50%;
  margin-top: 50px;
}

#lienPartie {
  width: 300px;
}

.player {
  color: #333;
}

.player-offline {
  color: #a33;
}

.bold {
  font-weight: bold;
}

.card {
  display: flex;
  flex: 1;
  border: 1px solid #333;
  margin: 20px 0 20px 0;
  padding: 5px;
  resize: none;
  text-align: center;
  font-size: 40px;
}

.card textarea {
  flex: 1;
  resize: none;
  text-align: center;
  font-size: 40px;
  border: none;
}

.card img {
  width: 100%;
}

.card p {
  word-wrap: break-word;
}

#submitDessin {
  margin-top: 20px;
}

#boutonsFinPartie {
  margin-top: 20px;
}

#boutonsSequences {
  flex-direction: row !important;
}
